  /* Center the image */
  .container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      /* Adjust this value as needed */
  }

  /* Style for the clickable image */
  #downloadexpense {
      cursor: pointer;
      max-width: 20%;
      /* Set maximum width to 100% of the container */
      height: auto;
      /* Maintain aspect ratio */
  }