/* styles.css */

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

nav {
    background-color: #343a40;
    color: #ffffff;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    /* Updated from space-between to flex-start */
    align-items: center;
}

nav img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-right: 15px;
    /* Add margin to the logo */
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    margin-right: 15px;
    /* Adjust margin between buttons */
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ffc107;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#downloadexpense {
    cursor: pointer;
    max-width: 20%;
    height: auto;
}

h1 {
    margin-top: 20px;
}


